html { font-family: serif; } 
h1, h2 { color: green; }
h1 { font-variant: small-caps; }
h2 { font-size: 100%; text-transform: uppercase; }
a, a:active, a:visited { color: #268bd2; }
a { text-decoration:none; }
a:hover { text-decoration: underline; }
hr { margin-bottom:1.625em; border: 1px dashed #333;}
ul, ul > ul { list-style-type: circle; }

body { margin: auto;  width: 80%; }