html { font-family: serif; } 
h1, h2 { color: green; }
h1 { text-transform: uppercase; font-size: 200%; }
h2 { font-size: 100%; text-transform: uppercase; }
a, a:active, a:visited { color: #268bd2; }
a { text-decoration:none; }
a:hover { text-decoration: underline; }
hr { margin-bottom:1.625em; border: 1px dashed #333;}